<template>
  <div>
    <button @click="createStore()">Create Store</button>
    <h2>The storeID is</h2>
    <p>{{storeID}}</p>
  </div>
</template>
<script>
const axios = require("axios");
export default {
  data() {
    return {
      storeID: null,
      verb: null,
      url: "https://lrs.sajil.org/api/v2/lrs",
      basicAuth:
        "Basic OTZhOGM2ZWQxN2UxNGQ3Mjk2MmY1Zjc2NDQxZDg0YmU4M2Y3MWVkZDo0MGQ2OGY3ZWYyZTUzODZiZDQyOWI5NzNmNjQ2NTc4M2Q1OWIzNzRm"
    };
  },
  methods: {
    createStore: function() {
      axios
        .post(
          this.url,
          {
            //suggestion make each store name as username
            title: "ahmed Store"
          },
          {
            headers: {
              "Content-Type": "application/json",
              Authorization: this.basicAuth
            }
          }
        ) //after we send the post request we will get the response to grab the LRSID
        //TODO:  Save LRS_ID in the DB with the promoter schema
        .then(response => (this.storeID = response.data._id))
        .catch(function(error) {
          window.alert(error);
        });
    }
  }
};
</script>