<template>
  <div class="hello">{{statments.data}}</div>
</template>

<script>
const axios = require("axios");
export default {
  name: "HelloWorld",
  data() {
    return {
      statments: null,
      url: "https://lrs.sajil.org/api/connection/statement",
      basicAuth: "Basic OTZhOGM2ZWQxN2UxNGQ3Mjk2MmY1Zjc2NDQxZDg0YmU4M2Y3MWVkZDo0MGQ2OGY3ZWYyZTUzODZiZDQyOWI5NzNmNjQ2NTc4M2Q1OWIzNzRm"
     
      
    };
  },
  mounted() {
    axios
      .get(this.url, {
        headers: {
          "Content-Type": "application/json",
          Authorization: this.basicAuth
        }
      })
      .then(response => (this.statments = response))

      .catch(function(error) {
        console.log(error);
      });
  }
};
</script>


