<template>
  <div id="app">
    <create-store/>


  </div>
</template>

<script>

import createStore from './components/createStore.vue'
export default {
  name: 'App',
  components: {

    createStore
  }
}
</script>


